.cover__link {
    text-decoration: none;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

/* Самое подходящие на мой взгляд решение, спасибо StackOverflow */

.cover__link::after {
    content: "";
    background-color: #2A2C2F;
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: opacity .3s ease;
}

.cover__link:hover::after {
    opacity: .8;
}