.place__paragraph {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 24px ;    
}

.place__paragraph:last-of-type {
    margin: 0;
}