.cover__text-container {
    width: 100%;
    z-index: 1;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    margin: 0;
    text-align: center;
    width: calc(100% - 16px * 2);
}